APP_VERSION=1.0.0

DEBUG=True
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
ALLOWED_CHAT_IDS=987654321,12345678

ACTIVE_LLM=lm_studio
MAX_TOKENS_THRESHOLD=13000
MAX_SINGLE_FILE_SIZE=1048576

LM_STUDIO_URL=http://127.0.0.1:1234/v1/chat/completions

OPENAI_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini

GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/openai/chat/completions
GEMINI_MODEL=gemini-2.5-flash

SYSTEM_PROMPT="You are my personal AI assistant.\nPlease follow these principles when interacting with me:\n1. Keep your tone warm, friendly, and conversational, like a smart friend.\n2. When explaining technical concepts (such as C or Swift code), please use simple, everyday analogies and avoid overly complex jargon.\n3. If I ask you to translate a foreign language, please make the translation smooth and natural."
